textarea {
	resize: vertical; /* Prevent rezising horizontally*/
	width: 100%;
	box-sizing: border-box;
}

hr{
	border-top: 1px solid grey;
}

hr.small{
	border-top: 1px solid lightgrey;
	width: 25%;
	margin: 10px 0 10px 0;	
}

.btn-default{
	background-color: black;
	color :white; 
}