textarea {
	resize: vertical; /* Prevent rezising horizontally*/
	width: 100%;
	box-sizing: border-box;
}

hr{
	border-top: 1px solid grey;
}

hr.small {
	border-top: 1px solid lightgrey;
	width: 25%;
	margin: 10px 0 10px 0;	
}

hr.light {
	border-top: 1px solid lightgrey;
	margin: 10px 0 10px 0;	
}

td.black{
	color:black;
	font-weight: bold;
}

td.grey{
	color:grey;
}

a.under {
	color:black;
	text-decoration: underline;
	font-weight: bold;
}

a.light {
	color:grey;
}

a.black {
	color:black;
	font-weight: bold;
}

a.soft-black {
	color:#4a4b4c;
}

p.small-light{
	color:grey;
	font-size: 90%;	
}

p.light{
	color:grey;
}

.btn-default {
	background-color: black;
	color :white; 
}

/* ======== MY BOOKS ========*/ 
.pending {
  color:lightgrey;
}
.acepted {
  color:lightseagreen;
}
.denied {
  color:orange;
}
.finished {
  color:red;
}
.my-books{
	text-decoration: underline;
	font-weight: bold;
}

#black{
	font-weight: bold;
	color:black;
}

/* ======== OVERRIDE NAV ========*/ 
#navbar {
	border:0;
	border-bottom: 2px solid black; min-height: 20px; 
	margin-bottom: 5px; position: relative; background-color: #f6f6f6;
}

body{
	background-color: #f6f6f6;
}
